body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: lightseagreen;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}